* {
    box-sizing: border-box;
  }
  
  body {
    margin-left: 50px;
    margin-right: 50px;
    padding: 5px;
    font-family: sans-serif;
    text-align: center;
  }
  h1{
    line-height: 50px;
    margin-bottom: 5px;
  }
  .column {
    float: left;
    width: 250px;;
    padding: 15px;
  }
  div#column2{
    float: unset;
    width: 35%;
    padding: 15px;
  }
  .column h3{
    text-align: center;
    border: 5px dashed lavender;
    padding: 10px;
    margin-bottom: 25px;
  }
  li{
    text-align: left;
    text-decoration: none;
    padding: 15px;
    margin: -15px;
  }
  li a{
    text-decoration: none;
    color: #000;
  }
  li a:hover{
    color: darkblue;
    font-weight: bold;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  footer{
    margin-top: 100px;
    color: #A50;
  }
  footer a, footer a:visited{
    color: #A50;
    text-decoration: none;
    padding: 10px;
  }
  footer a:hover{
    opacity: 0.5;
  }

  @media screen and (max-width:600px) {
    html{
      scale: 2;
    }
    .column, div#column2 {
      width: 100%;
    }
    footer{
        width: 100%;
    }
  }