body {
    margin-left: 50px;
    margin-right: 50px;
    padding: 5px;
    font-family: sans-serif;
  }
h1{
    font-family: sans-serif;
    text-align: center;
}
footer {
    text-align: center;
    margin-top: 40px;
}
footer>a, footer>a:visited {
    text-decoration: none;
    color: #555;
}