body {
    margin-left: 50px;
    margin-right: 50px;
    padding: 5px;
    font-family: sans-serif;
  }
h1{
    font-family: sans-serif;
    text-align: center;
}
button{
    font-size: 11px;
    margin: 5px;
    padding: 10px;
    color: white;
    background-color: black;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    letter-spacing: 1.5px;
}
button:hover{
    background-color: white;
    color: black;
    padding: 8px;
    border: 2px black solid;
    cursor: pointer;
}
article{
    margin: 10px;
}
#shoes{
    width: 650px;
    height: auto;
    float: left;
}
#source, #source a{
    font-style:italic;
    color: rgb(99, 99, 99);
    font-size: 12px;
}
footer {
    text-align: center;
    margin-top: 40px;
}
footer>a, footer>a:visited {
    text-decoration: none;
    color: #555;
}