.button {
  margin-top: 70px;
  background-color: white;
  border: 1px dashed black;
  color: #a50;
  text-align: center;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
  text-decoration: none;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00AB';
  position: absolute;
  opacity: 0;
  top: 0;
  right: 90px;

}

.button:hover span {
  padding-left: 20px;
}

.button:hover span:after {
  opacity: 1;
  left: 0;
}
  footer a, footer a:visited, footer a:hover{
    color: #a50;
    text-decoration: none;
    padding: 10px;
    border: 1px dashed #000;
}
footer{
    margin-top: 100px;
    float: right;
}
        